body {
  background-color: lightblue;
}
h1 {
  text-align: center;
}
img {
  height: 15px;
  width: 15px;
}
.dice {
  float: left;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  font-size: 30px;
  width: 200px;
  height: 60px;
  background: ghostwhite;
  border: solid black;
  padding: 10px;
  margin: 5px;
}
div.button {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
#firstText h5 {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
    margin-top: 25px;
    font-size: 45px;
    -webkit-animation: fadeIn 2s; /* Safari, Chrome and Opera > 12.1 */

            animation: fadeIn 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
